* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.grid-logos {
    outline: 0.1px solid red;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
}
.grid-logos > * {
    outline: 0.1px solid black;
    margin: 10px;
}