* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: system-ui;
}
.layout > * {
    outline: 0.5px solid black;
}
.container {
    max-width: 960px;
    padding: 20px;
    margin-inline: auto;
}
.ads {
    background-color: #39CCCC;
    height: 300px;
    position: sticky;
    top: 0;
}
.layout {
    display: grid;
    grid-template-columns: minmax(auto, 150px) 1fr;
    gap: 20px;
}
main {
    padding: 30px;
}
h1 {
    text-align: center;
}