* {
    outline: 0.5px solid rgba(0 0 0 / 10%);
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: system-ui;
}
.empty-state {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #D4F1F4;
    color: #05445E;
    height: 100%;
} 
.empty-state-title {
    font-size: 2rem;
}
.empty-state-description {
    font-size: 1.2rem;
    font-weight: 100;
}
.sidebar {
    background-color: lightskyblue;
    text-align: center;
    grid-area: sidebar;
}
.ads {
    background-color: lightsalmon;
    text-align: center;
    grid-area: ads;
}
.grid-layout--middle {
   grid-area: main;
}
.grid-layout {
    max-width: 960px;
    margin-inline: auto;
    height: 40vh;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 150px 1fr 150px;
    grid-template-areas: "sidebar main ads";
}
img {
    height: 70px;
    width: 70px;
    border-radius: 10%;
    background-color: white;
}
@media (max-width: 960px) {
    .grid-layout {
        grid-template-columns: 1fr;
        grid-template-areas: "main" "sidebar" "ads";
    }
}
