div {
    width: 100px;
    height: 100px;
    background: transparent;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 1s;
}
@keyframes example {
    0% {
        background: lightblue;
        left: 0px;
        top: 0px;
        transform: rotate(40deg);
        border-radius: 1px;
    }
    25% {
        background: lightgreen;
        left: 300px;
        top: 0px;
        transform: rotate(80deg);
        transform: scale(0.5);
        border-radius: 3px;
    }
    50% {
        background: lightslategrey;
        left: 300px;
        top: 300px;
        transform: rotate(120deg);
        border-radius: 6px;
    }
    75% {
        background: lightcoral;
        left: 0;
        top: 300px;
        transform: rotate(160deg);
        transform: scale(0.5);
        border-radius: 9px;
    }
    100% {
        background: lightseagreen;
        left: 0;
        top: 0;
        transform: rotate(180deg);
        border-radius: 30px;
    }

}