div {
    width: 100px;
    height: 100px;
    position: relative;
    background: transparent;
    animation-name: example;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes example {
    0% {background: dodgerblue; left: 0; top: 0;}
    25% {background: skyblue; left: 300px; top: 0;}
    50% {background: lightseagreen; left: 300px; top: 300px;}
    75% {background: lightskyblue; left: 0; top: 300px;}
    100% {background: lightgreen; left: 0; top: 0;}
}